
body {
  font-family: "Google Sans", sans-serif;
  text-align: center;
}

.section1 {
    height: 400px;
    background: url("1.png") center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstpara {
    
}


